.question__item
      
  .question__col
    .gradient-top
    .gradient-bottom
    
    .wrapper
      
      .content
        include ../includes/header-inner

        .container
          .question__top
            h2.title.title_h2(data-aos="fade-left" data-aos-delay='100') Необходимо ли Вам содействие в открытии счета в Кыргызстане?

            .text-message-mobile 
              .text-message-mobile__container
                .text-message-mobile__col
                  .text-message-mobile__img 
                    img(src="images/dist/consultant.webp", alt="")
                  .text-message-mobile__info 
                    .text-message-mobile__name
                      p Темир
                      span Консультант
                    .text-message-mobile__text
                      .text-message-mobile__content Стоимость и сроки регистрации компании в Кыргызстане - минимальные. При этом Вы экономите свое время и получаете все, что необходимо для ведения бизнеса «под ключ».Работаем без посредников. Вся процедура осуществляется нашими специалистами в строгом соответствии с законодательством Кыргызстана.
                .text-message-mobile__col 
                  .icon
                    svg
                      use(xlink:href='sprite.svg#angle-down')
          

          .form-wrap
            .form
              mixin item(id,val,additional,delay)
                .form__col.form__col_half(data-aos="zoom-in" data-aos-delay=delay)
                  label(for=id).label.label-js
                    input(id=id type="radio" name='question3' value=val)
                    .label__btn
                      .not-active.not-active_circle
                      .active.active_circle
                        span
                          

                    p=val
                      if additional
                        span=additional
                      else         
              
              +item('question3-1','Да, нуждаюсь в содействии', '', 200)
              +item('question3-2','Нет, справлюсь самостоятельно', '', 300)
              

      footer.footer
        .container
          .footer__inner
            .footer__col
              .page-number Вопрос  
                span 3
                | из 4

            .footer__col
              .footer__nav 
                .btn.btn_small.btn_gray.btn_bordered.back-js
                  .icon
                    svg
                      use(xlink:href='sprite.svg#arrow-left')

                .btn.btn_small.btn_accent.disabled.disabled-js 
                  span Далее
                  
                  .icon
                    svg
                      use(xlink:href='sprite.svg#arrow-right') 
  
  .question__col
    .wrapper
      .content
        .consultant
          .consultant__img-wrap
            .consultant__img
              img(src="images/dist/consultant.webp", alt="consultant")
            .consultant__status.consultant__status_online
          div
            .consultant__name Темир
            .consultant__position Консультант
      
        .text-message Стоимость и сроки регистрации компании в Кыргызстане - минимальные. При этом Вы экономите свое время и получаете все, что необходимо для ведения бизнеса «под ключ».
          | Работаем без посредников. Вся процедура осуществляется нашими специалистами в строгом соответствии с законодательством Кыргызстана.
      
      include ../includes/dev
