.question__item
      
  .question__col
    .gradient-top
    .gradient-bottom
    
    .wrapper
      
      .content
        include ../includes/header-inner

        .container
          .question__top
            h2.title.title_h2(data-aos="fade-left" data-aos-delay='100') Мы предоставляем скидки клиентам, ставшим нашими абонентами. Какие из дополнительных услуг Вам интересны?
            
            .text-message-mobile 
              .text-message-mobile__container
                .text-message-mobile__col
                  .text-message-mobile__img 
                    img(src="images/dist/consultant.webp", alt="")
                  .text-message-mobile__info 
                    .text-message-mobile__name
                      p Темир
                      span Консультант
                    .text-message-mobile__text
                      .text-message-mobile__content Помимо открытия и регистрации юридического лица, мы предоставляем полный спектр услуг по дальнейшей поддержке и ведению вашего бизнеса. Наши опыт и экспертиза позволяют нам обеспечивать нашим клиентам конкурентное преимущество на рынке.
                .text-message-mobile__col 
                  .icon
                    svg
                      use(xlink:href='sprite.svg#angle-down')
          

            .additional-info(data-aos="fade-left" data-aos-delay='200') 
              .icon
                svg
                  use(xlink:href='sprite.svg#check')
              span выберите один или несколько
          
          .form-wrap
            .form
              mixin item(id,val,additional,delay)
                .form__col.form__col_full(data-aos="fade-down" data-aos-delay=delay)
                  label(for=id).label.label-square-js 
                    input(id=id type="checkbox" name=id value=val)
                    .label__btn
                      .not-active.not-active_square
                      .active.active_square
                        span
                          .icon
                            svg
                              use(xlink:href='sprite.svg#check')
                          

                    p=val
                      if additional
                        span=additional
                      else      
              
              +item('service1','Меня не интересуют дополнительные услуги','', 300)
              +item('service2','Бухгалтерское обслуживание','', 400)
              +item('service3','Лицензирование','', 500)
              +item('service4','Кадровое обслуживание','', 600)
              +item('service5','Иммиграция', 'получение виз и разрешительных документов', 700)
              +item('service6','Юридический консалтинг','(онлайн или личная консультация, оформление сделок, составление договоров, и т.д.) ', 800)
              

      footer.footer
        .container
          .footer__inner
            .footer__col
              .page-number Вопрос  
                span 4
                | из 4

            .footer__col
              .footer__nav 
                .btn.btn_small.btn_gray.btn_bordered.back-js
                  .icon
                    svg
                      use(xlink:href='sprite.svg#arrow-left')

                .btn.btn_small.btn_accent.disabled.disabled-js
                  span Последний шаг
  
  .question__col
    .wrapper
      .content
        .consultant
          .consultant__img-wrap
            .consultant__img
              img(src="images/dist/consultant.webp", alt="consultant")
            .consultant__status.consultant__status_online
          div
            .consultant__name Темир
            .consultant__position Консультант
      
        .text-message Помимо открытия и регистрации юридического лица, мы предоставляем полный спектр услуг по дальнейшей поддержке и ведению вашего бизнеса. Наши опыт и экспертиза позволяют нам обеспечивать нашим клиентам конкурентное преимущество на рынке.
      
      include ../includes/dev
    